
.loading{
    text-align: center;
    color:black;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}
.card{
    width: 250px;
}
.deaths{
    border-bottom: 4px solid red;
}
.confirmed{
    border-bottom: 4px solid #007bff;
}
.recovered{
    border-bottom: 4px solid green;
}
.last-update{
    text-align: center;
}